/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	color: #d0d0d0;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 100px;
	background: #1b1b1b;
	text-align: center;
	display:table;
	width:100%;
	position: relative;
}

.header h1 {
	display:table-cell;
	vertical-align:middle;
	font-size: 20pt;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 520px;
	margin-left: -520px;
	position: relative;
	background: #2e2e2e;
	height: 655px;
}
/* if mobile device max width 520px */
@media only screen and (max-device-width: 520px) {
	.container {
		float: none;
	}
	#debugCanvas {
		display: none;
	}
	.right-sidebar {
		width: 100%;
		margin-left: 0;
		position: relative;
		background: #2e2e2e;
		height: 400px;
	}
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin-top: 10px;
	height: 70px;
	background: #1b1b1b;
	text-align: center;
	display:table;
	width:100%;
}

.footer strong {
	display:table-cell;
	vertical-align:middle;
	font-size: 10pt;
	color: #737373;
}
